@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    scroll-behavior: smooth; /* Fallback nếu Lenis chưa load */
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  /* Class để ẩn scrollbar nhưng vẫn scroll được (cho các slider) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Tạo hiệu ứng chữ gradient */
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-700 to-accent-500;
  }
}
